<div class="wrapper-tight offset-vertical">
  <div class="container container-left">
    <div class="on-hover table focusable-content">
      <p><span class="focusable-initials">Hi!</span></p>
      <p>
        
        Welcome to my  super awesome page. 
        My name is 
        <span class="focusable-initials">D</span><span class="focusable-text">enis </span>  
        <span class="focusable-initials">E</span><span class="focusable-text">kart</span>.
        
        I come from a small country called the 
        <span class="focusable-initials">R</span><span class="focusable-text">epublic</span> of 
        <span class="focusable-initials">S</span><span class="focusable-text">lovenia</span> located in southern Central Europe.

        <br/>

        I'm a <span class="focusable-initials">{{myAge}}</span> year old <span class="focusable-text">technology</span> freak. 
        Having completed my <span class="focusable-text">bachelor's</span> degree in computer science and engineering at the
         <span class="focusable-initials">U</span><span class="focusable-text">niversity</span> of 
         <span class="focusable-initials">M</span><span class="focusable-text">aribor</span>, 
        I am currently earning my <span class="focusable-text">master's</span> in the same field.
        
        <br/>

        <span class="focusable-initials">S</span><span class="focusable-text">ailing</span>, 
        <span class="focusable-initials">s</span><span class="focusable-text">kiing</span>, 
        <span class="focusable-initials">s</span><span class="focusable-text">urfing</span> and 
        <span class="focusable-initials">t</span><span class="focusable-text">raveling</span> 
        are some of the things i love doing most with the people closest to me.

        <br/>
        <br/>

        <span class="focusable-initials">Hope you enjoy browsing my site!</span>

      </p>
    </div>
    
    </div>
  <div class="focusable container container-right">
      <img class="relative-size on-hover" src="./assets/me.png"/>
  </div>
</div>
