<div class="container">
    <div class="item">
        
        <div id="timeline">
            <div>
                <div class="title">
                    <h1>Profile</h1>
                </div>
              <section class="year">
                <h3>foo</h3>
                <section>
                    <h4>bar</h4>
                    <ul>
                        <li>something like:
an innovative programmer with close to 5 years of professional 
experience in software design and development. TODO

                        </li>
                        <br/>
                      <br/>
                      <ul class="nested">
                          <li>ban</li>
                         </ul>   
                    </ul>
                </section>     
              </section>
              
              </div>

              
        <div id="timeline">
            <div>
                <div class="title">
                    <h1>Areas of focus</h1>
                </div>
              <section class="year">
                <h3>foo</h3>
                <section>
                    <h4>bar</h4>
                    <ul>
                        <li>count my creds and some technologies
                        </li>
                        <br/>
                      <br/>
                      <ul class="nested">
                          <li>ban</li>
                         </ul>   
                    </ul>
                </section>     
              </section>
              
              </div>

          <div>
              <div class="title">
                  <h1>Professional history</h1>
              </div>
            <section class="year">
              <h3>2016 - ongoing</h3>
              <section>
                  <h4>Pinna d.o.o.</h4>
                  <ul>
                      <li>Full stack developer (ASP.NET, WPF, DevExpress, Xamarin, .NET FRAMEWORK, .NET CORE, Redis, MSSQL, Angular)</li>
                      <br/>
                    <br/>
                    <ul class="nested">
                        <li>Colaborated with remote teams implementing products that target the healthcare system and are being used in healthcare provider systems and clinical centers in the country</li>
                        <li>Utilized advanced development and programming techniques to ensure rapid development and deployment</li>
                        <li>Developed software from the design to production phase including systems architecture design</li>
                      </ul>
                      <li>DevOps engineer (Azure DevOps, Cake Build)</li>
                      <br/>
                    <br/>
                      <ul class="nested">
                          <li>Designed and improved CI and CD pipelines while ensuring code quality using automated testing on live build agents or in docker instances</li>
                          <li>Used latest "c# cake build" tooling to automate every step of the build and deployment pipeline</li>
                        </ul>
                      <li>Systems engineer</li>
                      <br/>
                    <br/>
                      <ul class="nested">
                          <li>Configured the infrastructure needed to deploy, communicate and run the products in a sandboxed development environment</li>
                          <li>Leveraged the SAAS PAAS and IAAS provided as a part of the Azure stack including (but not limited to) docker containers, VM's, Azure Service Bus, Web Apps and Azure AD</li>
                        </ul>
                  </ul>
              </section>     
            </section>
            <section class="year">
              <h3>2014 - 2016</h3>
              <section>
                <h4>Trivia, programske rešitve,Denis Ekart s.p.</h4>
                <ul>
                    <li><span>Full stack developer (ASP.NET, WCF, Cordova, MYSQL, Mono Android, Java)</span></li>
                    <br/>
                    <br/>
                    <ul class="nested">
                        <li>Colaborated with teams to ensure communication across technology boundaries</li>
                        <li>Developed software that communicated with the government's web services "davčne blagajne"</li>
                        <li>Developed software from the design to production phase</li>
                      </ul>
                </ul>
              </section>
            </section>
            </div>
            <div>
                <div class="title">
                    <h1>Education</h1>
                </div>
              <section class="year">
                <h3>2017 - ongoing</h3>
                <section>
                    <h4>mag. inž. rač. in inf. tehnol.</h4>
                    <ul>
                        <li>Master of Computer Science and Information Technologies, Faculty of Electrical Engineering and Computer Science, University of Maribor, Slovenia</li>
                    </ul>
                </section>     
              </section>
              <section class="year">
                <h3>2010 - 2014</h3>
                <section>
                  <h4>dipl. inž. rač. in inf. tehnol. (un)</h4>
                  <ul>
                      <li>Bachelor of Computer Science and Information Technologies, Faculty of Electrical Engineering and Computer Science, University of Maribor, Slovenia</li>
                  </ul>
                </section>
              </section>
              <section class="year">
                <h3>2006 - 2010</h3>
                <section>
                  <h4>high school graduate</h4>
                  <ul>
                    <li>High school diploma, Tretja Gimnazija Maribor, Slovenia</li>
                  </ul>
                </section>
                
              </section>
            </div>
        </div>
      </div>

  </div>