<div class="container">
    <div class="item">
        
        <div id="timeline">
            <div>
                <div class="title">
                    <h1>Profile</h1>
                </div>
              <section class="year">
                <h3>
                  <div class="focusable container-left">
                    <img class="on-hover relative-size" src="./assets/me.png"/>
                  </div>
                </h3>
                <section>
                    <h4>updated on 24th of April, 2019</h4>
                    <ul>
                        <li>
<p>An innovative programmer with close to 5 years of professional 
experience in software design and development.</p>
 <p>Thrive in a team environment with the ability to lead
  a team and follow leadership directives.</p>
<p>Understanding intricate systems and solving complex problems
 in a dynamic and result-oriented way is one of my strong suits
  (writing short sentences is not).</p>
 <p>Able to coordinate several projects simultaneously while
  prioritizing tasks and operating proactively.</p>
  <p>I aspire to be as language-agnostic as possible 
    and already have strong expertise in C#, C++, 
    Python, Java, TypeScript, Sass, SQL and other languages.</p>
                        </li>
                    </ul>
                </section>     
              </section>
              
              </div>

              
        <div id="timeline">
            <div>
                <div class="title">
                    <h1>Qualifications</h1>
                </div>
              <section class="year">
                <h3>Programming <br/>languages</h3>
                <section>
                    <ul>
                        <li>C#</li>
                        <br/>
                      
                      <ul class="nested">
                          <li>ASP.NET, AspNet.Core, DevExpress, WPF, 
                            Windows Forms, Xamarin, Mono(Android), 
                            Windows IOT, Windows SDK (8.x, 10.x), COM+</li>
                         </ul>   
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>C++</li>
                        <br/>
                      
                      <ul class="nested">
                          <li>C++11, Embedded ARM Cortex</li>
                         </ul>   
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>Java</li>
                        <br/>
                      
                      <ul class="nested">
                          <li>Spring, Hadoop(mapreduce), Android</li>
                         </ul>   
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>Kotlin</li>
                        <br/>
                      
                      <ul class="nested">
                          <li>Android</li>
                         </ul>   
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>Python</li>
                        <br/>
                      
                      <ul class="nested">
                          <li>2.7.x, 3.x, sklearn, tensorflow, matplotlib</li>
                         </ul>   
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>R</li>
                        <br/>
                      
                      <ul class="nested">
                          <li>CARET, rpart, ROCR, nnet, CORElearn, mboost, party</li>
                         </ul>   
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>Matlab</li>
                      
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>SQL</li>
                        <br/>
                      
                      <ul class="nested">
                          <li>MSSQL, MySql</li>
                         </ul>   
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>HTML, JavaScript, CSS</li>
                        <br/>
                      
                      <ul class="nested">
                          <li>Angular 7.x, SASS(scss), rx/js, jQuery, Razor</li>
                         </ul>   
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>Lua</li>
                        <br/>
                      
                      <ul class="nested">
                          <li>Redis</li>
                         </ul>   
                    </ul>
                </section>
                     
              </section>
              <section class="year">
                  <h3>Languages</h3>
                  <section>
                      <ul>
                          <li>Slovenian</li>
                          <br/>
                        <ul class="nested">
                            <li>First language. Speak: excelent, write: excelent</li>
                           </ul>   
                      </ul>
                  </section>
                  <section>
                      <ul>
                          <li>English</li>
                          <br/>
                        <ul class="nested">
                            <li>Speak: excelent, write: excelent</li>
                           </ul>   
                      </ul>
                  </section>
                  <section>
                      <ul>
                          <li>Croatian</li>
                          <br/>
                        <ul class="nested">
                            <li>Speak: excelent, write: average</li>
                           </ul>   
                      </ul>
                  </section>
                  <section>
                      <ul>
                          <li>German</li>
                          <br/>
                        <ul class="nested">
                            <li>Speak: below average, write: average</li>
                           </ul>   
                      </ul>
                  </section>
                  </section>
                  <section class="year">
                      <h3>Other<br/>qualifications</h3>
                      <section>
                          <ul>
                              <li>Microsoft Azure management</li>
                              <br/>
                            <ul class="nested">
                                <li>Azure AD, WebApps, Container instances, VM's, resource management</li>
                               </ul>   
                          </ul>
                      </section>
                      <section>
                          <ul>
                              <li>Azure DevOps</li>
                              <br/>
                            <ul class="nested">
                                <li>azure artifacts(nuget), build agent administration, continuous integration, continuous deployment, scrum administration, test planning</li>
                               </ul>   
                          </ul>
                      </section>
                      <section>
                          <ul>
                              <li>Cake Build (C# scripting)</li>
                              <br/>
                            <ul class="nested">
                                <li>build automation using Cake build (make for c#)</li>
                               </ul>   
                          </ul>
                      </section>
                      <section>
                          <ul>
                              <li>Docker</li>
                              <br/>
                            <ul class="nested">
                                <li>compose, kubernetes(helm)</li>
                               </ul>   
                          </ul>
                      </section>
                      <section>
                          <ul>
                              <li>HL7 - Health Level Seven</li>
                              <br/>
                            <ul class="nested">
                                <li>basic understanding, parsing</li>
                               </ul>   
                          </ul>
                      </section>
                  </section>
              </div>

          <div>
              <div class="title">
                  <h1>Professional history</h1>
              </div>
            <section class="year">
              <h3>2016 - ongoing</h3>
              <section>
                  <h4>Pinna d.o.o.</h4>
                  <ul>
                      <li>Full stack developer (ASP.NET, WPF, DevExpress, Xamarin, .NET FRAMEWORK, .NET CORE, Redis, MSSQL, Angular)</li>
                      <br/>
                    <br/>
                    <ul class="nested">
                        <li>Colaborated with remote teams implementing products that target the healthcare system and are being used in healthcare provider systems and clinical centers in the country</li>
                        <li>Utilized advanced development and programming techniques to ensure rapid development and deployment</li>
                        <li>Developed software from the design to production phase including systems architecture design</li>
                      </ul>
                      <li>DevOps engineer (Azure DevOps, Cake Build)</li>
                      <br/>
                    <br/>
                      <ul class="nested">
                          <li>Designed and improved CI and CD pipelines while ensuring code quality using automated testing on live build agents or in docker instances</li>
                          <li>Used latest "c# cake build" tooling to automate every step of the build and deployment pipeline</li>
                        </ul>
                      <li>Systems engineer</li>
                      <br/>
                    <br/>
                      <ul class="nested">
                          <li>Configured the infrastructure needed to deploy, communicate and run the products in a sandboxed development environment</li>
                          <li>Leveraged the SAAS PAAS and IAAS provided as a part of the Azure stack including (but not limited to) docker containers, VM's, Azure Service Bus, Web Apps and Azure AD</li>
                        </ul>
                  </ul>
              </section>     
            </section>
            <section class="year">
              <h3>2014 - 2016</h3>
              <section>
                <h4>Trivia, programske rešitve,Denis Ekart s.p.</h4>
                <ul>
                    <li><span>Full stack developer (ASP.NET, WCF, Cordova, MYSQL, Mono Android, Java)</span></li>
                    <br/>
                    <br/>
                    <ul class="nested">
                        <li>Colaborated with teams to ensure communication across technology boundaries</li>
                        <li>Developed software that communicated with the government's web services "davčne blagajne"</li>
                        <li>Developed software from the design to production phase</li>
                      </ul>
                </ul>
              </section>
            </section>
            </div>
            <div>
                <div class="title">
                    <h1>Education</h1>
                </div>
              <section class="year">
                <h3>2017 - ongoing</h3>
                <section>
                    <h4>mag. inž. rač. in inf. tehnol.</h4>
                    <ul>
                        <li>Master of Computer Science and Information Technologies, Faculty of Electrical Engineering and Computer Science, University of Maribor, Slovenia</li>
                    </ul>
                </section>     
              </section>
              <section class="year">
                <h3>2010 - 2014</h3>
                <section>
                  <h4>dipl. inž. rač. in inf. tehnol. (un)</h4>
                  <ul>
                      <li>Bachelor of Computer Science and Information Technologies, Faculty of Electrical Engineering and Computer Science, University of Maribor, Slovenia</li>
                  </ul>
                </section>
              </section>
              <section class="year">
                <h3>2006 - 2010</h3>
                <section>
                  <h4>high school graduate</h4>
                  <ul>
                    <li>High school diploma, Tretja Gimnazija Maribor, Slovenia</li>
                  </ul>
                </section>
                
              </section>
            </div>
        </div>
      </div>

  </div>