
<div class="container">
    <div class="item">
      <div id="timeline">
        <div>
            <div class="title">
                <h1>Formal education</h1>
            </div>
          <section class="year">
            <h3>2017 - ongoing</h3>
            <section>
              <ul>
                <li>Satoshi Nakamoto began working on the Bitcoin concept.</li>
              </ul>
            </section>     
          </section>
          <section class="year">
            <h3>2010 - 2014</h3>
            <section>
              <h4>August</h4>
              <ul>
                <li>Neal Kin, Vladimir Oksman, and Charles Bry file an application for an encryption patent application.</li>
                <li>Bitcoin.org was registered at <a href="https://anonymousspeech.com/">anonymousspeech.com</a>.</li>
              </ul>
            </section>
            <section>
              <h4>October</h4>
              <ul>
                <li>Nakamoto describes the Bitcoin currency and solves the problem of double spending.</li>
              </ul>
            </section>
            <section>
              <h4>November</h4>
              <ul>
                <li>The Bitcoin project is registered on <a href="https://sourceforge.net/">SourceForge.net</a>.</li>
              </ul>
            </section>
          </section>
          <section class="year">
            <h3>2006 - 2010</h3>
            <section>
              <h4>January</h4>
              <ul>
                <li>Block 0 is established.</li>
                <li>Version 0.1 of Bitcoin is released.</li>
                <li>The first Bitcoin transaction.</li>
              </ul>
            </section>
            <section>
              <h4>October</h4>
              <ul>
                <li>An exchange rate is established.</li>
              </ul>
            </section>
            <section>
              <h4>December</h4>
              <ul>
                <li>Version 0.2 is released.</li>
                <li>The difficulty increases.</li>
              </ul>
            </section>
          </section>
        </div>
      </div>
    </div>
  </div>