
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

//http://mcg.mbitson.com/#!?eki=%23babcc9
$palette-eki:
rgb(247, 247, 249)
rgb(234, 235, 239)
rgb(221, 222, 228)
rgb(207, 208, 217)
rgb(196, 198, 209)
rgb(186, 188, 201)
rgb(179, 182, 195)
rgb(171, 173, 188)
rgb(163, 165, 181)
rgb(148, 151, 169)
rgb(255, 255, 255)
rgb(255, 255, 255)
rgb(223, 228, 255)
rgb(198, 205, 255)
;

$palette-eki-50: nth($palette-eki, 1);
$palette-eki-100: nth($palette-eki, 2);
$palette-eki-200: nth($palette-eki, 3);
$palette-eki-300: nth($palette-eki, 4);
$palette-eki-400: nth($palette-eki, 5);
$palette-eki-500: nth($palette-eki, 6);
$palette-eki-600: nth($palette-eki, 7);
$palette-eki-700: nth($palette-eki, 8);
$palette-eki-800: nth($palette-eki, 9);
$palette-eki-900: nth($palette-eki, 10);
$palette-eki-A100: nth($palette-eki, 11);
$palette-eki-A200: nth($palette-eki, 12);
$palette-eki-A400: nth($palette-eki, 13);
$palette-eki-A700: nth($palette-eki, 14);

$mat-eki: (
    50: $palette-eki-50,
    100: $palette-eki-100,
    200: $palette-eki-200,
    300: $palette-eki-300,
    400: $palette-eki-400,
    500: $palette-eki-500,
    600: $palette-eki-600,
    700: $palette-eki-700,
    800: $palette-eki-800,
    900: $palette-eki-900,
    A100: $palette-eki-A100,
    A200: $palette-eki-A200,
    A400: $palette-eki-A400,
    A700: $palette-eki-A700,
    contrast:(
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )
);





// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$personal-primary: mat-palette($mat-eki);
$personal-accent: mat-palette($mat-red, 500, 300, 700);

// The warn palette is optional (defaults to red).
$personal-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$personal-theme: mat-light-theme($personal-primary, $personal-accent, $personal-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($personal-theme);

:root {
    --color-primary: #{mat-color($personal-primary)};
    --color-contrast: #{mat-color($personal-primary,lighter-contrast)};
    --color-accent: #{mat-color($personal-accent)};
    --color-warn: #{mat-color($personal-warn)};
  }