/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-main{
    width:90%;
    margin:auto;
}
.container{
    /* border: 1px solid red; */
    margin: auto;
}
.container-left{
    float: left;
    width: 50%;
}
.container-right{
    float: left;
    width: 50%;
}

.offset-vertical{
    margin-top: 30px;
}



.on-hover{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
   }
 
.on-hover:hover{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
   }
