<!-- <mat-sidenav-container> -->
  <mat-toolbar >
    
    <button mat-button routerLink="home" class="expandible-accented" color="accent">
        <mat-icon>fingerprint</mat-icon>
      D<span>enis</span> 
      E<span>kart</span>
    </button>
    
    
    <button mat-button routerLink="resume" class="expandible on-hover expandible-default" >
        <mat-icon>school</mat-icon>
      C<span>urriculum</span>
      V<span>itae</span>
    </button>

    
    <button mat-button routerLink="github" class="expandible on-hover expandible-default" >
        <mat-icon>code</mat-icon>
      Repos<span>itories</span>
    </button>

    <button mat-button routerLink="github" class="expandible on-hover expandible-default" >
        <mat-icon>alternate_email</mat-icon>
      Con<span>tact me</span>
    </button>


      <span class="fill-remaining-space"></span>
    
      <span></span>
  </mat-toolbar>
<router-outlet></router-outlet>
<div class="footer on-hover">
  <p>Copyright &copy; 2019 Denis Ekart</p>
</div>
<!-- </mat-sidenav-container> -->