.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  button.expandible-accented span{
   color: var(--color-contrast);
  }
  button.expandible-default span{
   color: var(--color-accent);
}
button.expandible-accented{
   min-width: 140px;
   text-align: start;
}

button.expandible-default{
   min-width: 140px;
   text-align: start;
}


  button.expandible span{
     max-width: 0;
     padding: 0;
     margin: 0;
     display: inline-block;
     overflow: hidden;
  }

  button.expandible:hover span{
   max-width: 100px;
   display: inline-block;
   overflow: hidden;
}

  button.on-hover span{
   -webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -o-transition: all 1s ease-in-out;
   transition: all 1s ease-in-out;
  }

  button.on-hover:hover span{
   -webkit-transition: all .5s ease-in-out;
   -moz-transition: all .5s ease-in-out;
   -o-transition: all .5s ease-in-out;
   transition: all .5s ease-in-out;
  }

